@use '../styles/variables' as *;
@use '../styles/mixins.scss' as *;

.map {
    height: 100%; //change in future
    width: 100vw;
    display: flex;
    overflow: hidden;
    z-index: $layerMap;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0 0 / 25px 25px, linear-gradient(90deg,rgba(0, 0, 0, 0.1) 1px, transparent 0) 0 0 / 25px 25px;

    &__content {
        width: 100%;
        height: 100%;
    }

    &__back {
        position: absolute;
        top: $spaceLarge;
        left: $spaceLarge;
        
        @media (width <= $responsiveSmall) {
            top: $spaceMedium;
            left: $spaceMedium;
            zoom: .7;
        } 
        
        &Icon {
            height: 28px;
            margin-bottom: 6px;
            margin-right: 12px;
        }
    }

    &__sounds {
        position: absolute;
        bottom: $spaceLarge;
        left: $spaceLarge;

        @media (width <= $responsiveSmall) {
            bottom: $spaceMedium;
            left: $spaceMedium;
            zoom: .7;
        } 
    }
}