@use '../styles/variables' as *;
@use '../styles/mixins.scss' as *;

.mapLink {
    user-select: none;
    position: absolute;
    
    & > a{
        user-select: none;
        color: $color2-solid;
        @include titleButton;
        display: flex;
        padding: 10px;

        &:hover {
            animation: shakeEffect 100ms infinite steps(2);
        }
        
        @keyframes shakeEffect {
            0% {transform: translate(0px, 3px)}
            15% {transform: translate(3px, 1px)}
            25% {transform: translate(-1px, -2px)}
            35% {transform: translate(1px, -1px)}
            50% {transform: translate(2px, 1px)}
            75% {transform: translate(-1px, 1px)}
            80% {transform: translate(3px, 0px)}
            100% {transform: translate(0px, 1px)}
        }
    }
}